/target
.tmp
/.direnv
/.devenv*
/result
**/.DS_Store
.idea

# Devenv
devenv.local.nix
devenv.local.yaml

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
